<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="/flights/new">Add Flight</a>
  <a href="/flights">All Flight</a>  
</main>

<%- include("./partials/footer") %>